# Publications

<h3>Papers</h3>

Please cite the following paper, if you use the KnowledgeStore:

  * [Interlinking Unstructured and Structured Knowledge in an Integrated Framework](http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=06693492)
    (Francesco Corcoglioniti, Marco Rospocher, Roldano Cattoni, Bernardo Magnini, Luciano Serafini),
    in The 7th IEEE International Conference on Semantic Computing (ICSC), Irvine, CA, USA, 2013
    \[[pdf](https://dkm-static.fbk.eu/people/rospocher/files/pubs/2013icsc.pdf)\]
    \[[bib](https://dkm-static.fbk.eu/people/rospocher/bibtexbrowser.php?key=2013icsc&amp;bib=my_pub.bib)\]

Other papers:

  * Integrating NLP and SW with the KnowledgeStore
    (Marco Rospocher, Francesco Corcoglioniti, Roldano Cattoni, Bernardo Magnini, Luciano Serafini)
    in ISWC 2014 Posters & Demonstrations Track, within the 13th International Semantic Web Conference (ISWC 2014),
    Riva del Garda, Italy, October 21, 2014
    \[[pdf](https://dkm-static.fbk.eu/people/rospocher/files/pubs/2014iswcdemo1.pdf)\]
    \[[bib](https://dkm-static.fbk.eu/people/rospocher/bibtexbrowser.php?key=2014iswcdemo1&amp;bib=my_pub.bib)\]
  * Integrating Unstructured and Structured Knowledge with the KnowledgeStore
    (Marco Rospocher, Francesco Corcoglioniti, Roldano Cattoni, Bernardo Magnini, Luciano Serafini)
    in Proceedings of the Posters and Demos of the 19th International Conference on Knowledge Engineering and Knowledge
    Management (EKAW2014)
    \[[pdf](https://dkm-static.fbk.eu/people/rospocher/files/pubs/2014ekawdemo.pdf)\]
    \[[bib](https://dkm-static.fbk.eu/people/rospocher/bibtexbrowser.php?key=2014ekawdemo&amp;bib=my_pub.bib)\]
  * A Simple API to the KnowledgeStore
    (Ian Hopkinson, Steve Maude, Marco Rospocher)
    in Proc. of ISWC Developers Workshop colocated with 13th Int. Semantic Web Conference (ISWC'14), Riva del Garda,
    Italy
    \[[pdf](https://dkm-static.fbk.eu/people/rospocher/files/pubs/2014iswcSemDev02.pdf)\]
    \[[bib](https://dkm-static.fbk.eu/people/rospocher/bibtexbrowser.php?key=2014iswcSemDev02&amp;bib=my_pub.bib)\]

<h3>Technical reports</h3>

  * Newsreader project deliverables on the KnowledgeStore
    * [D6.1: KnowledgeStore Design](http://www.newsreader-project.eu/files/2012/12/NewsReader-316404-D6.1_v1.6.pdf) (June 2013)
    * [D6.2.1: KnowledgeStore version 1](http://www.newsreader-project.eu/files/2012/12/NewsReader-316404-D6.2.1.pdf) (December 2013)
    * [D6.2.2: KnowledgeStore version 2](${site-root}files/NWR-D6-2-2.pdf) (February 2015)