<assembly>
  <id>server</id>
  <formats>
    <format>tar.gz</format>
  </formats>
  <includeBaseDirectory>true</includeBaseDirectory>
  <baseDirectory>knowledgestore</baseDirectory>
  <fileSets>
    <fileSet>
      <directory>..</directory>
      <outputDirectory>/</outputDirectory>
      <includes>
        <include>README.txt</include>
        <include>NOTICE.txt</include>
        <include>LICENSE.txt</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>src/main/scripts</directory>
      <outputDirectory>/bin</outputDirectory>
      <fileMode>0755</fileMode>
      <directoryMode>0755</directoryMode>
      <lineEnding>unix</lineEnding>
    </fileSet>
    <fileSet>
      <directory>src/main/config</directory>
      <outputDirectory>/etc</outputDirectory>
    </fileSet>
    <fileSet>
      <!-- Create empty output directory /log -->
      <directory>src/main/assembly</directory>
      <outputDirectory>/log</outputDirectory>
      <excludes>
        <exclude>*/**</exclude>
      </excludes>
    </fileSet>
    <fileSet>
      <!-- Create empty output directory /var -->
      <directory>src/main/assembly</directory>
      <outputDirectory>/var</outputDirectory>
      <excludes>
        <exclude>*/**</exclude>
      </excludes>
    </fileSet>
  </fileSets>
  <dependencySets>
    <dependencySet>
      <outputDirectory>/lib</outputDirectory>
      <useStrictFiltering>true</useStrictFiltering>
      <useTransitiveFiltering>true</useTransitiveFiltering>
    </dependencySet>
  </dependencySets>
</assembly>